@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

form {
  input,
  textarea {
    @apply border border-gray-300 bg-white w-full p-3;
  }
  textarea {
    @apply field-sizing-content min-h-12;
  }
}

.animated {
  @apply transition-all ease-in-out duration-300;
}

.alert {
  @apply py-2 px-3;
  &.alert--success {
    @apply bg-green-100 border-green-400 text-green-700;
  }
  &.alert--error {
    @apply bg-red-100 border-red-400 text-red-700;
  }
}

.button {
  @apply flex py-2 px-3 rounded transition-all ease-in-out duration-300 cursor-pointer min-h-10;
  &.button--default {
    @apply border-gray-300 bg-gray-200 hover:bg-gray-300 hover:border-gray-500;
  }
}

.form-error {
  @apply text-red-500 text-sm pl-1 mt-1;
}

.outlined {
  @apply outline-1 outline-dashed outline-red-300;
  * {
    @apply outline-1 outline-dashed outline-red-300;
  }
}

[data-loading='true'] {
  @apply animate-pulse opacity-75;
}

.two-line {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
